@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
  font-size: 28px;
  font-family: 'Manrope', sans-serif;
  background-color: hsl(217, 19%, 24%);
}

#advice-inner {
  background-color: hsl(217, 19%, 38%);
  border-radius: 10px;
  padding: 1.5rem;
}
